.main {
  background-image: url("../../public/images/ooo.jpeg");
  min-width: 100%;
  min-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
.box a {
  color: midnightblue;
}

.buttonProjs {
  border: 1px solid teal !important;
  margin-bottom: 2px !important;
  background-color: aqua !important;
  color: red !important;
}
.button {
  border: 1px solid teal !important;
  margin-bottom: 2px !important;
  background-color: aqua !important;
  color: red !important;
}
