:root {
  --dark_green: #1e441e;
  --nav_green: #053d03;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
body {
  background-image: url(../../public/images/stenar-tall.jpeg);
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--nav_green);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

a {
  color: #01438e;

  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  border-radius: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  min-height: 84vh;
  min-width: 100vw;
}

.main .startpage_button {
  height: 20%;
  margin: 2px;
  background-color: #2a7221;
  color: white;
  border-radius: 10px;
  text-shadow: rgb(1, 37, 4) 0px 1px 2px;
}
.main .startpage_button:hover {
  color: black;
}

/* Desktop -------------------------------------------------------------------------------*/
@media (min-width: 700px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    min-width: 100%;
  }
  .startpage_button {
    justify-self: center;
    justify-content: center;
    width: 45vw;
    max-width: 680px;
  }
}

@media (max-width: 1100px) {
  .carousel-control-prev {
    visibility: hidden;
  }
  .carousel-control-next {
    visibility: hidden;
  }
}
