.bg {
  background-image: url(../../public/images/stenar-tall.jpeg);
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
}
.carousel_main {
  max-width: 45vw;
}
.carousel-inner {
  max-height: 50vh;
  width: auto;
}
.carousel_item {
  border: 4px solid black !important;
  visibility: hidden;
  cursor: pointer;
}
.carousel_item img {
  max-height: 100%;
}
.carousel_item * {
  cursor: pointer;
}
.carousel_link {
  cursor: pointer;
}
.carousel_link {
  cursor: pointer;
}
.carousel_caption_light,
.carousel_caption_red {
  color: white !important;
}

@media (hover: hover) {
  .carousel_item {
    cursor: pointer;
  }

  .carousel_link {
    cursor: pointer;
  }
}

/* MOBILE & TABLET ------------------------ */
@media (max-width: 1100px) {
  .bg {
    background-image: url(../../public/images/stenar-wide.jpeg);
    background-size: cover;
  }
  .carousel-control-prev {
    visibility: hidden;
  }

  .carousel_main {
    width: 100%;
    max-width: 900px;
    margin: 0px;
  }
  .carousel_caption {
    background-color: rgba(255, 255, 255, 0.784);
  }
  .carousel_caption_light {
    background-color: rgb(30, 68, 30, 0.7);
  }
  .carousel_caption_red {
    background-color: rgb(255, 0, 0, 0.7);
  }
}
