.navbar {
  z-index: 5;
  opacity: 1;
  background-color: #053d03;

  /*
  background: radial-gradient(at 100% 50%, #0a5501 10vh, #053d03 50%, #042a00 100%);
*/
  color: #efc78c;
  min-width: 90vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 10px 0;
  top: 0;
  text-shadow: #0a5501 0px 1px 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar * {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.navbar h1 {
  cursor: pointer;
  width: 50%;
  font-size: 1.5em;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.navbar span {
  width: 25%;
}
.icon {
  background-color: #053d03;
  color: #efc78c;
  align-self: center;
  justify-content: flex-start;
}
