.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 90vh;
  min-width: 100vw;
  text-align: center;
  user-select: none;
  background-color: #3a433a;
}

#btnSvtpk {
  background-image: url(../../public/images/svtpk.png);
}
#btn_tropesbingo {
  background-image: url(../../public/images/tropes_square.png);
}
#btnWebshop {
  background-image: url(../../public/images/webshop.png);
}
#btnMurvel {
  background-image: url(../../public/images/murvel.png);
}
#btnSpaced {
  background-image: url(../../public/images/spaced.png);
}
#btnPoker {
  background-image: url(../../public/images/poker.png);
}
#btnAudioplayer {
  background-image: url(../../public/images/audioplayer.png);
}

#utfyllnad {
  background-image: url(../../public/images/java.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.itemButton {
  height: 100%;
  width: 80vw;
  margin: 2px;
  background-color: #2a7221;
  color: white;
  border-radius: 33px;
  justify-self: center;
  align-items: center;
}

.item:nth-child(even) .itemButton {
  background-color: #123e0c;
}

/* Mobile phones */
@media (max-width: 699px) {
  .buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .item {
    height: 200px;
    width: 99%;
  }
  .itemButton {
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    border: 5px outset black;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 5px;
  }

  .itemButton .title {
    font-size: 1.4em;
  }
  .titleCard {
    height: auto;
    width: 200px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
    border: 1px solid #2c5334;
    border-radius: 20px;
  }
}

/* Tablets -------------------------------------------------------------------*/
@media (min-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 85%;
    min-width: 100%;
    text-align: center;
    user-select: none;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .item {
    width: auto;
  }
  .itemButton {
    width: 100vw;
    height: 300px;
    margin: 0;
    margin-top: -20px;
    border: 5px groove black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a7221;
    color: white;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .itemButton {
    margin-top: 0px;
  }
  .itemButton .title {
    font-size: 2em;
  }
  #btnSvtpk {
    background-image: url(../../public/images/svtpk.png);
  }
  #btn_tropesbingo {
    background-image: url(../../public/images/tropes_square.png);
  }
  #btnWebshop {
    background-image: url(../../public/images/webshop.png);
  }
  #btnMurvel {
    background-image: url(../../public/images/murvel.png);
  }
  #btnSpaced {
    background-image: url(../../public/images/spaced.png);
  }
  #btnPoker {
    background-image: url(../../public/images/poker.png);
  }
  #btnAudioplayer {
    background-image: url(../../public/images/audioplayer.png);
  }
  #utfyllnad {
    background-image: url(../../public/images/java.png);
  }
}

/* Big thing with touch -------------------------------------------------------*/
@media (min-width: 700px) and (hover: none) {
  .title {
    color: black;
    text-shadow: rgb(255, 255, 255) 0px 1px 2px;
  }
  .main {
    min-height: 90vh;
  }

  .titleCard {
    height: auto;
    width: 250px;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
  }
}

/* telefon på snädden --------------------------------------------------------*/
@media (min-width: 700px) and (max-height: 700px) {
  .itemButton {
    width: 30vw;
    margin: 3px;
  }
  .titleCard {
    height: auto;
    width: 140px;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .main {
    min-height: 90vh;
  }
  .itemButton {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
}

/*  Desktop large -------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .itemButton {
    width: 30vw;
    height: 30vw;
  }
}

/* Screens that support "hover" (e.g desktop) ----------------------------------------*/
@media (hover: hover) {
  .itemButton {
    background-color: rgba(128, 128, 128, 0.722);
  }

  .item:nth-child(even) .itemButton {
    background-color: grey;
  }

  .item:hover {
    color: black;
  }

  .title {
    visibility: none;
  }
  .titleCard {
    visibility: hidden;
    border: 1px solid black;
    width: fit-content;
    min-width: 200px;
    padding: 10px;
  }

  #btnSvtpk:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
    border: 1px solid black;
  }

  #btn_tropesbingo:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.905);
    visibility: visible;
    border-radius: 10px;
  }
  #btnWebshop:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
  }
  #btnMurvel:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
  }

  #btnSpaced:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
  }
  #btnPoker:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
  }
  #btnAudioplayer:hover .titleCard {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
    border-radius: 10px;
  }
  .itemButton:hover .title {
    color: black;
    opacity: 1;
  }
  .item:nth-child(even) .itemButton:hover {
    background-color: #183e13;
    background-color: orange;
  }
  .item:nth-child(1) .itemButton:hover {
    background-color: #00c800;
  }

  .item:nth-child(2) .itemButton:hover {
    background-color: #2c5334;
  }
  .item:nth-child(3) .itemButton:hover {
    background-color: #ed0000;
  }
  .item:nth-child(4) .itemButton:hover {
    background-color: #1c4c64;
  }
  .item:nth-child(5) .itemButton:hover {
    background-color: #f35323;
  }
}
